<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer">
        <observer name="customer_observe_logout" instance="Practices\Observer\Observer\CustomerLogout" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="customer_custom_price" instance="Practices\Observer\Observer\CustomPrice" />
    </event>
</config>